@{
    Layout = "_Layout.cshtml";
    Bundles.Reference("assets/javascripts/libs");
    Bundles.Reference("assets/templates");
    Bundles.Reference("assets/javascripts/app");
}
<noscript>Javascript must be enabled to use this app.</noscript>
<div id="app">
    Loading App ...
</div>

@section footer{
    @Bundles.RenderScripts("libs")
    @Bundles.RenderHtmlTemplates()
    @Bundles.RenderScripts("app")
    <script>
        App.initialize({
            todos: [{ content: 'work', status: 'completed' }, { content: 'eat' }]
        });
    </script>
}