@using Cassette.Nancy
@{
    Layout = "_Layout.cshtml";
    Bundles.Reference("assets/javascripts/libs");
    Bundles.Reference("assets/templates");
    Bundles.Reference("assets/javascripts/app");
}

<div class="alert alert-info">
    <strong>Don't have an account yet?</strong> <a href="@Url.Content("~/register")">Click here to register.</a>
</div>

<form class="form-horizontal" method="POST">
    <fieldset>
        <legend>Login</legend>
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="text" class="input-xlarge" id="email" name="email" placeholder="Email"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="password" name="password" placeholder="Password" />
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </fieldset>
</form>

@section footer{
    @*if(ViewBag.preLoadAppStaticContent)*@
    @if (true)
    {
        <script>
            (function(doc, script) {
                var js,
                    fjs = doc.getElementsByTagName(script)[0],
                    add = function(url, id) {
                        if (doc.getElementById(id))
                            return;
                        js = doc.createElement(script);
                        js.src = url;
                        id && (js.id = id);
                        fjs.parentNode.insertBefore(js, fjs);
                    };
                add('@Bundles.Url("assets/templates")', "js-templates");
                add('@Bundles.Url("assets/javascripts/app")', "js-app");
            }(document, 'script'));
        </script>
    }
}