@using Cassette.Nancy
@{
    Layout = "_Layout.cshtml";
    Bundles.Reference("assets/javascripts/libs");
    Bundles.Reference("assets/javascripts/public_app");        
}

<div class="alert alert-info">
    <strong>Already have an account?</strong> <a href="@Url.Content("~/login")">Click here to login</a>.
</div>

<form class="form-horizontal" method="POST" role="register">
    <fieldset>
        <legend>Register a New Account</legend>
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="email" class="input-xlarge" id="email" name="email" placeholder="Email"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="password" name="password" placeholder="Password" autocomplete="off"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="confirmPassword">Confirm Password</label>
            <div class="controls">
                <input type="password" class="input-xlarge" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" autocomplete="off"/>
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Register"/>
            <input type="button" class="btn" role="cancel" value="Cancel"/>
        </div>
    </fieldset>
</form>

@section footer{
    @Bundles.RenderScripts("libs")
    @Bundles.RenderScripts("public_app")
    <script>
        App.Public.initialize({ path: '/register' });
    </script>
    @if(ViewBag.preLoadAppStaticContent)
    {
        @Html.Partial("_app_js")
    }
}